{% extends "structcomp/base.html" %}
{% block title %}

{% endblock %}
{% block content %}
<h2>Структура Компании</h2>
<ul>
    <a button class="btn btn-primary" type="submit"href="{% url 'dep1' %}"> departament 1 </a>
 
    
</ul>
<ul>
    <a button class="btn btn-primary" type="submit"href="#"> departament 6 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 7 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 8 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 9 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 10 </a>
    
</ul>
<ul>
    <a button class="btn btn-primary" type="submit"href="#"> departament 11 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 12 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 13 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 14 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 15 </a>
    
</ul>
<ul>
    <a button class="btn btn-primary" type="submit"href="#"> departament 16 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 17 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 18 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 19 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 20 </a>
    
</ul>
<ul>
    <a button class="btn btn-primary" type="submit"href="#"> departament 21 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 22 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 23 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 24 </a>
    <a button class="btn btn-primary" type="submit"href="#"> departament 25 </a>
    
</ul>
{% endblock %}